{
  "config_id": "ichi_r_inline_summary",
  "version": "1.0.0",
  "source_company": "イチアール株式会社",
  "selectors": {
    "sender_domain": "1-r.co.jp",
    "subject_regex": "サーバエンジニアのご紹介です！.*2名で1人月希望.*【弊社フリーランス】"
  },
  "item_start_regex": "(?m)^■氏名：(?P<identifier>[A-Z](?:\\.[A-Z]\\.?|[A-Z]))[ \\t]*$",
  "separator_regex": "(?m)^＝{4,}[ \\t]*$",
  "required_profile_markers": [
    "■年齢",
    "■性別",
    "■最寄駅",
    "■所属",
    "■スキル"
  ],
  "expected_item_count": 2,
  "item_type": "resource",
  "canonical_subject_semantic_part": "要員ご紹介: サーバエンジニア / イチアール株式会社",
  "canonical_subject_template": "要員ご紹介: サーバエンジニア / イチアール株式会社 [MI:{logical_short}/{version_short}]",
  "canonical_body_classification_context": "弊社フリーランスのサーバエンジニアを2名ご紹介いたします。",
  "footer_end_regex": "(?m)^＝{4,}[ \\t]*\\n(?:[ \\t]*\\n)?(?:なお、弊社で営業中の要員リストは以下のスプレッドシートにてご確認いただけます。[ \\t]*\\n)?【営業中エンジニア一覧スプレッドシート】[ \\t]*$",
  "attachment_mapping": {
    "strategy": "regex_extract_normalized_exact",
    "filename_field": "filename",
    "filename_identifier_regex": "^(?:(?P<label>スキルシート\\())?(?P<identifier>(?(label)[A-Z]\\.[A-Z]|[A-Z]{2}))(?(label)\\)_[0-9]{8}|【[^/\\\\【】]+駅】)\\.xlsx$",
    "identifier_group": "identifier",
    "require_one_to_one": true
  },
  "offline_expected_input_mails": 1
}
